<%- include("partials/header"); -%> 
<h1>Compose</h1>
<form action="/compose" method="Post">
<h4>Title</h4>
<textarea name="postTitle" id="" cols="170" rows="2"></textarea>
<h4>Post</h4>
<textarea name="postcontent" id="" cols="170" rows="6"></textarea>
<button type="submit" class="submit">Publish</button>
</form>
<%- include("partials/footer"); -%> 